.#{$namespace}-banner {
  background: $banner-gradient; 
  padding: 11em 4.33%;

  &__title {
    font-size: 2em;
    margin-bottom: .8em;
    color: $white;
    text-align: center;
  }

  &__sub-title {
    margin: 0;
    text-align: center;
    color: $white;
    font-size: 1.4em;
  }
}