body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'RobotoRg';
}

dl, dt, dd, h1, h2, h3 {
  margin: 0;
}

.space-page {
  padding: 0 4.33%;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}