$namespace: "shop";


// COLORS
$white: #FFFFFF;
$black: #000000;
$gold: #826f00;
$yellow: #d1b40d;
$dark-yellow: #a68f0a;
$red: #B31312;
$red-dark: #8a0019;

// MEDIA QUERIES
$mq: (
  'mobile': 320px,
  'large-mobile': 500px,
  'tablet': 768px,
  'laptop': 1024px,
  'min-desktop': 1280px,
  'desktop': 1440px,
  'hd-desktop': 1900px,
  'large-desktop': 2000px
);
