$namespace: "shop";


// COLORS
$white: #FFFFFF;
$black: #000000;
$green: #2FB594;
$green-dark:#27987E ;
$pink:#FF5D76 ;
$pink-dark:#FC488B ;
$purple: #8C23B6;
$purple-dark:#6A03DF ;
$orange:#E5535C ;
$pink-gradient:linear-gradient(to top, #ff5d76 0%, #fc488b 69%) ;
$banner-gradient: linear-gradient(to bottom, #1a1a1a 0%, #000000 51%);

// MEDIA QUERIES
$mq: (
  'mobile': 320px,
  'large-mobile': 500px,
  'tablet': 768px,
  'laptop': 1024px,
  'min-desktop': 1280px,
  'desktop': 1440px,
  'hd-desktop': 1900px,
  'large-desktop': 2000px
);
